/.idea/train_value_CLIP_600.pickle
/.idea/train_data_encoded_CLIP_30.pickle
/.idea/train_value_encoded_CLIP_SD.pickle
/.idea/vae_encoder.rar
/.idea/train_value_con2d.pickle
/.idea/sshConfigs.xml
/.idea/train_data_encoded_CLIP_300.pickle
/.idea/archive_videos/
/.idea/train_data_encoded_CLIP_SD_L5.pickle
/.idea/train_value_CLIP_90.pickle
/.idea/train_data_encoded_CLIP_60.pickle
/.idea/other.xml
/.idea/train_value_CLIP_30.pickle
/.idea/images100.zip
/.idea/train_value_CLIP_150.pickle
/.idea/train_value_CLIP_60_1.pickle
/.idea/vae_train_cache.data-00000-of-00001
/Deeplearningstudy.iml
/.idea/train_data_encoded_CLIP_600.pickle
/.idea/vae_train_cache.index
/.idea/train_data_encoded_CLIP_600_1.pickle
/.idea/train_data_encoded_CLIP_90_1.pickle
/.idea/SVM_model/
/.idea/train_value_CLIP_60.pickle
/.idea/train_value_CLIP_450.pickle
/.idea/train_data_encoded_CLIP_450_1.pickle
/.idea/train_data_encoded_CLIP_SD.pickle
/.idea/video_Funny_clean.json
/.idea/train_value_CLIP_150_1.pickle
/.idea/train_data_encoded_con2d.pickle
/.idea/train_data_encoded_CLIP_300_1.pickle
/.idea/data_text.pickle
/.idea/train_data_encoded_CLIP_150_1.pickle
/.idea/train_value_vae.pickle
/.idea/train_data_encoded_CLIP_450.pickle
/.idea/train_data_encoded_vae.pickle
/.idea/smallimages/
/.idea/train_data_encoded_CLIP_90.pickle
/.idea/train_value_CLIP_450_1.pickle
/.idea/train_data_encoded_CLIP_150.pickle
/.idea/train_value_CLIP_600_1.pickle
/.idea/train_value_CLIP_30_1.pickle
/.idea/train_value_CLIP_90_1.pickle
/.idea/LSTM_model/
/.idea/ConvLSTM2d_model/
/.idea/train_value_CLIP_300_1.pickle
/.idea/train_data_encoded_CLIP_30_1.pickle
/.idea/train_data_encoded_CLIP_60_1.pickle
/.idea/train_value_CLIP_L5.pickle
/.idea/train_value_CLIP_300.pickle
/.idea/deployment.xml
