# 默认忽略的文件
/shelf/
/workspace.xml
/videos/
/images/
/vae_decoder/
/vae_encoder/
/DeepLearning.py
/DownloadVideo.py
/encodings.xml
/final_video_id_list.csv
/load_CLIP.py
/load_LSTM.py
/load_RCNN.py
/vcs.xml
/video_Exciting_clean.json
/VideoSample.py
/SimpleMNISTConvnet.py
/modules.xml
/misc.xml
/CLIP_DATA/
/tmp/


