# 默认忽略的文件
/shelf/
/workspace.xml
/videos/
/images/
/vae_decoder/
/vae_encoder/
/DeepLearning.py
/DownloadVideo.py
/encodings.xml
/final_video_id_list.csv
/load_RCNN.py
/vcs.xml
/video_Exciting_clean.json
/SimpleMNISTConvnet.py
/modules.xml
/misc.xml
/CLIP_DATA/
/tmp/
/vae_train_cache.data-00000-of-00001
/vae_train_cache.index
/video_Funny_clean.json
../Deeplearningstudy.iml


/archive_videos/
